<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   
  </head>

  <body>
    <div class="nav-bar">
     <%= link_to "HOME", users_path, class: "mr-8" %> 
     <div class="button-section"> 
     <% if current_user %> 
     <h4>Welcome: <%= current_user.name %></h4> 
     <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
     <% else %>
      <h4 class="quest_user"> Hi, Guest User</h4>
     <% end %>
      <%= link_to "BACK", "javascript:history.back()" %> 
     </div> 
    </div> 
    <div class="container"> 
     <p class="notice"><%= notice %></p> 
     <p class="alert"><%= alert %></p> 
    </div> 
    <%= yield %>
  </body>
</html>
